@font-face {
  font-family: "iconfont"; /* Project id 1000763 */
  src: url('iconfont.woff2?t=1646231451884') format('woff2'),
       url('iconfont.woff?t=1646231451884') format('woff'),
       url('iconfont.ttf?t=1646231451884') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e698";
}

.icon-search:before {
  content: "\e6ac";
}

.icon-fangdajing:before {
  content: "\e63d";
}

.icon-camera1:before {
  content: "\e699";
}

.icon-close:before {
  content: "\e69e";
}

.icon-increase:before {
  content: "\e69f";
}

.icon-position:before {
  content: "\e60b";
}

.icon-cross-fill:before {
  content: "\e619";
}

.icon-arrow-right:before {
  content: "\e666";
}

.icon-sousuo:before {
  content: "\e6af";
}

.icon-camera:before {
  content: "\e66c";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-al-icon-cart:before {
  content: "\e602";
}

.icon-right:before {
  content: "\e6b8";
}

.icon-error:before {
  content: "\e65c";
}

.icon-RectangleCopy:before {
  content: "\e6a1";
}

.icon-address:before {
  content: "\e697";
}

.icon-map:before {
  content: "\e606";
}

.icon-gouwu:before {
  content: "\e750";
}

.icon-dingwei_:before {
  content: "\e67d";
}

